.form-container {
  .info {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;

    label {
      margin-bottom: 20px;
      font-size: 12px;
    }

    input {
      background: none;
      border: 0;
      border-bottom: 2px solid rgb(0, 0, 0);
      width: 100%;
      padding: 5px;
      font-size: small;
      font-weight: 700;
      margin-top: 3rem;
    }
  }
  .submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input {
      background-color: #3eb58d;
      box-shadow: none;
      border: 0;
      color: rgb(36, 36, 36);
      cursor: pointer;
      padding: 10px 15px;
      font-weight: 700;
      border-radius: 5px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.layout {
  height: 100vh;
  padding: 120px 20px 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .form-container,
  .right {
    flex-basis: 40%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: xx-large;
      margin: 0;
    }

    img {
      width: 100%;
      max-width: 600px;
    }
  }
}
